<div class="w-full font-[Comic_Relief]">
  <section class="py-14 text-center">
    <h1 class="text-4xl font-bold mb-2 font-[Pacifico]">There is no privacy</h1>
    <p class="text-lg">Im always watching</p>
  </section>
</div>
